@page "/friends"

@attribute [Authorize]

<h3 class="d-flex">
    <span class="flex-fill">Friends</span>
    <span class="me-2">
        <button class="btn btn-primary" @onclick="OnShowModalClick">Add Group</button>
    </span>
    <span class="me-2">
        <button class="btn btn-primary" @onclick="OnShowJoinModalClick">Join Group</button>
    </span>
</h3>

<Modal @ref="_modal" Title="Add Group">
    <BodyTemplate>
        <InputText Label="Group Name" DisplayName="Group Name" @bind-Value="_groupName"/>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>
        <Button Color="ButtonColor.Primary" @onclick="OnAddGroupClick">Add</Button>
    </FooterTemplate>
</Modal>

<Modal @ref="_joinModal" Title="Join Group">
    <BodyTemplate>
        <InputText Label="Group Code" DisplayName="Group Code" @bind-Value="_groupCode"/>
        @if (!_groupCodeIsValid)
        {
            <FluentLabel Color="Color.Warning">Invalid Group Code</FluentLabel>
        }
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideJoinModalClick">Close</Button>
        <Button Color="ButtonColor.Primary" @onclick="OnJoinGroupClick">Join</Button>
    </FooterTemplate>
</Modal>

@if (Groups.Any())
{
    <FluentLayout>
        @foreach (var group in Groups)
        {
            <div class="mb-3">
                <FluentHeader>
                    <span class="p-2 flex-grow-1 fs-5">@group.Name</span> <span class="p-2 fs-3">@group.Code</span>
                </FluentHeader>
                <span>
                    <ul class="list-group">
                        @foreach (var member in group.Members)
                        {
                            <li class="list-group-item d-flex">
                                <span class="p-2 flex-grow-1">@member.Name</span>
                                <span class="p-2">
                                    <FluentProgress Min="0" Max="100" Value="@member.Progress" Width="200px" Stroke="ProgressStroke.Large"/>
                                </span>
                            </li>
                        }
                    </ul>
                </span>
            </div>
        }
    </FluentLayout>
}